# Ignorer l'environnement virtuel
venv/

# Ignorer les fichiers de clés privées/publiques
private.key
private.pem
public.key
public.pem

# Ignorer le fichier JWT sensible
jwt_token.jwt

# Ignorer les fichiers temporaires
__pycache__/
*.pyc
*.pyo
